@font-face {
    font-family: "Cyberpunk-Regular";
    font-style: normal;
    font-weight: 400;
    src: local("Cyberpunk-Regular"),
         url("/fonts/Cyberpunk-Regular.woff2") format("woff2"),
         url("/fonts/Cyberpunk-Regular.woff") format("woff");
}

@font-face {
    font-family: "Refinery-25";
    font-style: normal;
    font-weight: 400;
    src: local("Refinery-25"),
         url("/fonts/Refinery 25 Regular.woff2") format("woff2"),
         url("/fonts/Refinery 25 Regular.woff") format("woff");
}

@font-face {
    font-family: "Blender-Pro-Bold";
    font-style: bold;
    font-weight: 400;
    src: local("Blender-Pro-Bold"),
         url("/fonts/Blender-Pro-Bold.woff2") format("woff2"),
         url("/fonts/Blender-Pro-Bold.woff") format("woff");
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    overflow: hidden;
    background-color: #131313;
    color: yellow;
    font-family: 'Blender-Pro-Bold', sans-serif;
    font-size: 20px;
}

.main {
    display: flex;
    border: 3px solid green;
}

img {
    height: 100vh;
    width: auto;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border: 3px solid red; */
    width: 100vh;
}

h1 {
    font-size: 100px;
    font-family: "Cyberpunk-Regular", sans-serif;
}

.headings {
    text-align: center;
}
